

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://www.esaburruss.com/">E.S.A. Burruss</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Photo <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id="photo-body" class="container">
    <div class="row">
        <div class="col-2">
          <ngb-tabset id="user-list" orientation="vertical" type="pills"
            (tabChange)="switchUser($event)">
            <ngb-tab
              *ngFor="let user of users"
              title="{{user.name}}">
              <ng-template ngbTabContent>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
        <div class="col-9">
          <div class="row">
            <div *ngFor="let album of users[user].albums" class="card col-3 m-4 px-0">
              <img class="card-img-top" src="{{album.thumbnailUrl}}" onerror="this.onerror=null;this.src='./assets/missing.png';" style="min-height:100px;">
              <p class="card-text text-truncate px-1">{{album.title}}</p>

            </div>
          </div>
        </div>
    </div>
</div>
